* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --large-width: 1200px;
    --medium-width: 1000px;
    --neon-blue: #0061FF;
    --neon-blue-hover: #3680F7;
    --columbia-blue: #B4D0E7;
    --silver: #A4A4A4;
}

body {
    font-family: sans-serif;
}

.btn_bg {
    background-color: var(--neon-blue);
}

p {
    line-height: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header navbar */

header {
    background-color: var(--columbia-blue);
    margin-bottom: 5rem;
}

nav {
    height: 80px;
    padding-inline: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    gap: 1rem;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-inline-end: 1rem;
}

.navbar {
    flex: 1 0 0;
    display: flex;
    gap: 2rem;
    white-space: nowrap;
}

.navbar .spaced {
    flex: 1 0 0;
}

.navbar .spaced a {
    width: max-content;
}

.navbar li a {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--silver);
}

.navbar li a:hover {
    border-bottom: 1px solid black;
}

.start_btn {
    padding: 20px 0;
}

.start_btn a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--neon-blue);
}

.start_btn a:hover {
    border: none;
    background-color: var(--neon-blue-hover);
}

/* header jumbo */

.jumbo_section {
    max-width: var(--large-width);
    margin: auto;
    padding-top: 180px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

h1 {
    flex: 0 0 100%;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 70px;
}

.jumbo_text {
    flex: 0 0 30%;
    font-size: 16px;
    font-weight: 300;
}

.jumbo_text p {
    margin-bottom: 30px;
}

.jumbo_text .free_trial_btn {
    width: max-content;
    margin-bottom: 30px;
}

.jumbo_text .free_trial_btn a {
    display: block;
    padding: 0.8em;
    color: white;
}

.jumbo_text .free_trial_btn:hover {
    background-color: var(--neon-blue-hover);
}

.jumbo_text .cancel_everytime {
    margin-bottom: 75px;
}

.jumbo_text .cancel_everytime a {
    color: black;
}

.jumbo_text .down_arrow {
    font-size: 2.6em;
}

.jumbo_text .down_arrow a {
    color: black;
}

.jumbo_section img {
    flex: 1 0 70%;
    display: block;
    width: 100%;
    margin-bottom: -75px;
}

/* main section plans */

.plans {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 150px;
    padding-top: 85px;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.intro {
    flex: 0 0 100%;
}

.plans h2 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 65px;
}

.choice {
    font-weight: 300;
    display: inline-block;
}

.choice.one {
    margin-inline-end: 40px;
}

.plan {
    flex: 0 0 calc((100% - 6rem) / 3);
    border: 1px solid lightgray;
}

.plan_user {
    font-weight: 300;
    text-align: center;
    padding: 11px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 38px;
}

.plan_info h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.plan_info, .plan_pros {
    padding-inline: 25px;
}

.plan_info .price {
    font-weight: 600;
    margin-bottom: 15px;
}

.per_time {
    font-weight: 300;
    margin-bottom: 55px;
}

.fa-ul {
    font-weight: 300;
    margin-bottom: 50px;
    margin-inline-start: 25px;
}

.plan_info ul li {
    display: block;
    margin-bottom: 24px;
}

.free_try_btn {
    margin-bottom: 35px;
}

.free_try_btn a {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.free_try_btn:hover {
    background-color: var(--neon-blue-hover);
}

.plan_info .else {
    font-weight: 300;
    margin-bottom: 38px;
}

.plan_info .else a {
    color: blue;
    text-decoration: underline;
}

.plan_info::after {
    content: "______";
    color: lightgray;
}

.plan_pros {
    margin: 50px 0;
}

.plan_pros h4 {
    margin-bottom: 30px;
}

.plan_pros ul li {
    font-weight: 300;
    margin-bottom: 22px;
}

.plan_pros ul li i {
    color: var(--neon-blue);
}

.team_plan {
    flex: 0 0 100%;
    border: 1px solid lightgray;
}

.team_plan_info {
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team_plan_info h3 {
    flex: 1 0 max-content;
    font-size: 1.4rem;
    font-weight: 600;
}

.team_plan_info .contact_btn {
    flex: 0 0 max-content;
}

.team_plan_info .contact_btn a {
    display: block;
    padding: 0.8rem;
    color: white;
}

.team_plan_info .contact_btn:hover {
    background-color: var(--neon-blue-hover);
}

.team_plan_info .contact_text {
    flex: 0 0 100%;
    font-weight: 600;
    margin-bottom: 18px;
}

.team_plan_info p {
    flex: 0 0 66%;
    font-weight: 300;
    margin-bottom: 25px;
}

/* main section partner */

.partner {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 160px;
    display: flex;
    gap: 50px;
}

.partner img {
    flex: 0 0 60%;
    width: 100%;
}

.partner_text {
    flex: 1 0 calc(40% - 50px);
    padding-top: 55px;
}

.partner_text h2 {
    font-size: 1.8rem;
    margin-bottom: 18px;
}

.partner_text p {
    margin-bottom: 30px;
}

.partner_btn {
    border: 1px solid black;
    width: max-content;
}

.partner_btn:hover {
    background-color: whitesmoke;
}

.partner_btn a {
    display: block;
    padding: 1rem;
    color: black;
}

/* main section features */

.features {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 150px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.features_first_title {
    flex: 0 0 100%;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.feature {
    flex: 0 0 calc((100% - 90px) / 3);
    margin-bottom: 20px;
}

.feature img {
    width: 100%;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 35px;
}

.feature p {
    font-weight: 300;
}

.features_second_title {
    flex: 0 0 60%;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 52px;
    margin-top: 190px;
    margin-bottom: 60px;
}

.features_link {
    flex: 0 0 60%;
}

.features_link a {
    text-decoration: underline;
    color: blue;
}

/* main section sponsors */

.sponsors {
    max-width: 1920px;
    display: flex;
}

.sponsors_group {
    flex: 0 0 calc(100% / 3);
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sponsor {
    flex: 0 0 calc(100% / 2);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designit {
    border: 12px solid #D1E9CD;
    background-color: #A2D39B;
}

.asu {
    background-color: #61082B;
}

.wbr {
    background-color: #D5001F;
}

.hearst_corp {
    background-color: #B4D0E7;
}

.uof {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.lonely_planet {
    background-color: #0D2481;
}

.clear_channel {
    background-color: #FFD830;
}

.sponsor img {
    width: 60%;
    filter: invert(99%) sepia(1%) saturate(2402%) hue-rotate(215deg) brightness(116%) contrast(100%);
}

.sponsor_description {
    flex: 0 0 calc(100% / 3);
    aspect-ratio: 1 / 1;
    padding: 50px;
    background-color: whitesmoke;
}

.sponsor_description div img {
    display: block;
    width: 50%;
    margin-bottom: 35px;
}

.sponsor_description div::after{
    content: "________";
    color: var(--silver);
}

.sponsor_description blockquote {
    margin: 35px 0;
}
.sponsor_description blockquote p {
    margin-bottom: 35px;
}


/* main start whit dropbox section */


.start_whit_dropbox_bg {
    padding: 130px 0;
    margin-bottom: 160px;
    background-color: #B4D0E7;
}

.start_whit_dropbox_container {
    max-width: var(--medium-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.start_whit_dropbox_container h2 {
    flex: 0 0 50%;
    font-size: 2.5rem;
    color: #711C33;
}

.start_free_trial_btn {
    flex: 0 0 max-content;
    background-color: white;
}

.start_free_trial_btn a {
    display: block;
    padding: 18px 55px;
    color: black;
}

.start_free_trial_btn:hover {
    background-color: whitesmoke;
}

/* main faq */

.faq {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 150px;
}

.faq h2 {
    font-size: 2.5rem;
    padding-bottom: 65px;
    border-bottom: 1px solid black;
}

.question {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.question i {
    margin-inline-end: 40px;
}

/* footer */

footer {
    padding: 100px 0 50px 0;
    background-color: black;
    color: whitesmoke;
}

.footer_container {
    max-width: var(--large-width);
    margin-inline: auto;
}

.footer_section {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}

.footer_section::after {
    content: "______________";
}

.footer_list {
    flex: 0 0 calc((100% - 360px) / 5);
}

.footer_list li:first-child {
    font-size: 1.3rem;
    margin-bottom: 25px;
    color: white;
}

.footer_list li {
    margin-bottom: 18px;
}

.footer_list li a {
    color: whitesmoke;
}

.footer_list li a:hover {
    text-decoration: underline;
}

.lang {
    margin-top: 45px;
}