* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --large-width: 1200px;
    --medium-width: 1000px;
    --padding-plan: 1.5rem;
    --neon-blue: #0061FFff;
    --columbia-blue: #B4D0E7ff;
    --silver: #A4A4A4ff;
}

body {
    font-family: sans-serif;
}

.botton_bg {
    background-color: var(--neon-blue);
}

p {
    line-height: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



header {
    background-color: var(--columbia-blue);
    margin-bottom: 5rem;
}

nav {
    height: 3.8rem;
    padding-inline: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    gap: 1rem;
    background-color: white;
}

nav a {
    height: 100%;
}

nav img {
    display: block;
    height: 100%;
    padding: 1rem 0;
}

nav ul li {
    height: 100%;
    padding-inline: 1rem;
}

nav ul li a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--silver);
}

.top_left_nav {
    height: 100%;
    flex: 1 0 0;
    display: flex;
    gap: 1rem;
    white-space: nowrap;
}

.top_right_nav {
    height: 100%;
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    white-space: nowrap;
}

.login {
    padding: 1rem 0;
}

.login a {
    padding: 0 0.5rem;
    color: white;
    background-color: var(--neon-blue);
}

.jumbo_section {
    max-width: var(--large-width);
    margin: auto;
    padding-top: 8.8rem
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 3.3rem;
}

.jumbo_container {
    display: flex;
    position: relative;
}

.jumbo_text {
    font-size: 16px;
    font-weight: 300;
    flex: 0 0 30%;
}

.jumbo_text p {
    margin-bottom: 2.5rem;
}

.free_trial {
    width: max-content;
    padding: 0.8em;
    margin-bottom: 2.5rem;
}

.free_trial a {
    color: white;
}

.cancel_everytime {
    margin-bottom: 4rem;
}

.cancel_everytime a {
    color: black;
}

.down_arrow {
    font-size: 2.5em;
}

.down_arrow a {
    color: black;
}

.jumbo_container img {
    display: block;
    width: 100%;
    flex: 1 0 70%;
    margin-bottom: -4.5em;
}





.plans {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 7rem;
    padding-top: 4.8rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.intro {
    flex: 0 0 100%;
    margin-bottom: 1rem;
}

.plans h2 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 3.5rem;
}

.choice {
    font-weight: 300;
    display: inline-block;
}

.choice.one {
    margin-right: 1.5rem;
}

.plan {
    flex: 0 0 calc((100% - 4rem) / 3);
    border: 1px solid lightgray;
}

.plan_user {
    font-weight: 300;
    text-align: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2rem;
}

.plan_user h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.plan_info, .plan_pros {
    padding-inline: var(--padding-plan);
}

.plan_info .price {
    font-weight: 600;
    margin-bottom: 1rem;
}

.per_time {
    font-weight: 300;
    margin-bottom: 3rem;
}

.plan_info ul {
    font-weight: 300;
    margin-bottom: 3rem;
}

.fa-ul {
    margin: 1.5rem;
}

.plan_info ul li {
    margin-bottom: 1rem;
}

.month_free {
    margin-bottom: 2rem;
}

.month_free a {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.plan_info .else {
    font-weight: 300;
    margin-bottom: 2rem;
}

.plan_info .else a {
    color: blue;
    text-decoration: underline;
}

.plan_info::after {
    content: "______";
    color: lightgray;
}

.plan_pros {
    margin-top: 3rem;
}

.plan_pros h4 {
    margin-bottom: 2rem;
}

.plan_pros ul li {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.plan_pros ul li i {
    color: var(--neon-blue);
}

.team_plan {
    flex: 0 0 100%;
    border: 1px solid lightgray;
}

.team_plan_info {
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team_plan_info h3 {
    flex: 1 0 max-content;
    font-size: 1.4rem;
    font-weight: 600;
}

.team_plan_info div {
    flex: 0 0 max-content;
}

.team_plan_info div a {
    font-weight: 400;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.team_plan_info .contact_text {
    flex: 0 0 100%;
    font-weight: 600;
    margin-bottom: 1rem;
}

.team_plan_info p {
    flex: 0 0 66%;
    font-weight: 300;
    margin-bottom: 2rem;
}



.partner {
    max-width: var(--medium-width);
    margin-inline: auto;
    margin-bottom: 7rem;
    display: flex;
    gap: 4rem;
}

.partner img {
    flex: 0 0 calc(100% - 4rem - 30%);
    width: 100%;
}

.partner_text {
    flex: 1 0 0;
    padding-top: 4rem;
}

.partner_text h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.partner_text p {
    margin-bottom: 3rem;
}

.partner_btn {
    border: 1px solid black;
    width: max-content;
}

.partner_btn a {
    display: block;
    padding: 1rem;
    color: black;
}